.card-item2-wrapper{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-shadow: 1px 2px 10px rgb(185, 184, 184);
    /* border: 1px solid red; */
    border-radius: 10px;
    padding: 35px 40px 35px 40px;
    gap: 20px;
    height: fit-content;
}

.button-more{
    width: 117px;
    height: 58px;
    border: 1px solid #23A6F0;
    border-radius: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    gap: 10px;
}