.card-item3-wrapper{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-shadow: 1px 2px 10px rgb(185, 184, 184);
    /* border: 1px solid red; */
    border-radius: 10px;
    padding: 35px 40px 35px 40px;
    gap: 35px;
    align-items: center;
    justify-content: center;
    height: fit-content;
}

.button-try-for-free{
    background-color: #23A6F0;
    width: 162px;
    height: 58px;
    padding: 15px 40px 15px 40px;
    border: none;
    border-radius: 5px;
}