/* h1{
    font-size: 24px;
    font-weight: 700;
    color: #252B42;
    letter-spacing: 0.1px;
    font-family: 'Montserrat', sans-serif;
} */

.testimonial-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 2px 10px rgb(185, 184, 184);
    width: fit-content;
    height: fit-content;
}

.name-designation-wrapper{
    display: flex;
    flex-direction: column;
}

.testimonial-content-wrapper{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-right: 40px;
    padding-left: 40px;
}

.stars-wrapper{
    display: flex;
    gap: 6.83px;
}